@using FronToBack.Models

@model List<Category>



<div class="col-lg-6">
    <div class="card">
        <div class="card-body">

            <h5 class="card-title">Categories</h5>
           
                <a asp-controller="category"  asp-action="create"  asp-area="admin"  class=" col-2 d-inline btn btn-outline-success">Create Category</a>







  
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Id</th>
                            <th scope="col">Title</th>
                            <th scope="col">Actions</th>                     
                        </tr>
                    </thead>
                    <tbody>
                        @{
                            foreach (var category in Model)
                            {

                                <tr>
                                   
                                <th>@category.Id</th>
                                    <td>@category.Title</td>
                                    <td>
                                    <a asp-controller="Category" asp-action="update" asp-route-id="@category.Id" asp-aria="admin" class="btn btn-outline-warning">Edit</a>
                                        <a asp-controller="Category" asp-action="update" asp-route-id="@category.Id" asp-aria="admin"  class="btn btn-outline-danger">Delete</a>
                                    
                                    </td>
          
                                    
                                </tr>
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
      </div><!--End Row-->
